@import '../../assets/styles/variables';
.label {
  display: flex;
  width: 100%;
  flex-direction: column;
  // font-weight: 600;
  &.error {
    color: $error;
  }
  &:not(.error):focus-within {
    color: $primary;
  }
  & > * + * {
    margin-top: 5px;
  }
}

.title {
  text-align: left;
  padding-left: $padding-x;
}

.helperText {
  padding-left: $padding-x;
  text-align: left;
  line-height: 1;
  font-weight: 600;
}
