.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 400px;
  padding: 10px;
  background: white;
  border-radius: 10px;
  box-shadow: 2px 2px 5px rgba(#000, 0.3);
  & > * + * {
    margin-top: 10px;
  }
}
