.select {
  max-width: 300px;
  width: 100%;
}

.wrapper {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  align-items: center;
  padding: 20px 10px 20px;
  justify-content: space-between;
  max-height: 100vh;
  min-height: 100vh;
  .loading {
    justify-content: flex-start;
  }
  & > * + * {
    margin-top: 20px;
  }
}
.loader {
  display: flex;
  flex: 1;
  align-items: center;
  transform: translateY(-40px);
}
