@import './base.scss';
@import './variables.scss';

.input,
.react-dadata__input {
}
.react-dadata__input {
  padding-right: 30px !important;
}
.react-dadata__icon-clear {
  bottom: -11px;
}

.center {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
@keyframes lds-spinner {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
